h1 {
  text-align: center;
}
.labels {
  text-align: center;
}
button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #000021;
  background: #1de9b6;
  line-height: 1.15;
  font-size: 16px;
}
.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}
#ToDoTrue {
  color: green;
}
#ToDoFalse {
  color: red;
}
